@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 13%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 13%;

    --popover: 0 0% 7%;
    --popover-foreground: 0 0% 100%;

    --primary: 0 100% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 13%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 100% 50%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 0 100% 50%;

    --radius: 0.75rem;

    --sidebar-background: 0 0% 6%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 100% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 13%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 13%;
    --sidebar-ring: 0 100% 50%;
  }

  .dark {
    --background: 0 0% 6%;
    --foreground: 0 0% 100%;

    --card: 0 0% 13%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 13%;
    --popover-foreground: 0 0% 100%;

    --primary: 0 100% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 13%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 13%;
    --muted-foreground: 0 0% 67%;

    --accent: 0 100% 50%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 13%;
    --input: 0 0% 13%;
    --ring: 0 100% 50%;
    --sidebar-background: 0 0% 6%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 100% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 13%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 13%;
    --sidebar-ring: 0 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Roboto", sans-serif;
  }
}
